<div class="col-xs-12">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="credit in bcCtrl.billingCycle.credits">
				<td>
					<input ng-model="credit.name" class="form-control" placeholder="Input the name"
						ng-readonly="bcCtrl.tabDelete" />
				</td>
				<td>
					<input type="number" ng-model="credit.value" class="form-control" 
						ng-change="bcCtrl.calculateValues()" placeholder="Input the value" ng-readyonly="bcCtrl.tabDelete" />
				</td>
				<td class="table-actions">
					<button class="btn btn-success" ng-disabled="bcCtrl.tabDelete" 
						ng-click="bcCtrl.addCredit($index)">
						<i class="fa fa-plus"></i>
					</button>
					<button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete" 
						ng-click="bcCtrl.cloneCredit($index,credit)">
						<i class="fa fa-clone"></i>
					</button>
					<button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete" 
						ng-click="bcCtrl.deleteCredit($index)">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>